<!DOCTYPE html>

<html lang="en">

  <head>

    <title>404</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="og:title" content="Template Monster Admin Template">

    <meta property="og:description" content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">

    <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">

    <meta property="og:url" content="http://digipunk.netii.net">

    <link rel="icon" href="/site_data/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="components/base/base.css">

    <script src="components/base/core.min.js"></script>

    <script src="components/base/script.js"></script>

  </head>

  <body>

    <div class="page">

      <!-- 404-->

      <section class="section-fullheight bg-mask bg-image context-dark text-center" style="background-image:url(/site_data/image-02-1920x990.jpg)">

        <div class="section-fullheight-inner section-sm justify-content-between">

          <div class="container">

                  <!-- Logo-->

                  <div class="logo"><a class="logo-link" href="index.html"><img class="logo-image-default" src="/site_data/logo-default-322x127.png" alt="Pixel" width="161" height="63"/><img class="logo-image-inverse" src="/site_data/logo-inverse-322x127.png" alt="Pixel" width="161" height="63"/></a></div>

          </div>

          <div class="section-sm">

            <div class="container">

              <div class="row justify-content-center text-center">

                <div class="col-xl-11">

                  <h1 class="text-large">404</h1>

                  <h3>The page you’re looking for doesn’t exist :(</h3>

                  <p class="d-inline-block" style="max-width:750px">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                  <div class="btn-group-1"><a class="btn btn-outline" href="index.html">Go to Home</a></div>

                </div>

              </div>

            </div>

          </div>

          <div class="container">

                  <!-- Copyright-->

                  <p class="rights xsmall"><span>&copy; 2020.&nbsp;</span><a class="rights-link" href="privacy-policy.html">Privacy Policy</a></p>

          </div>

        </div>

      </section>

    </div>

    <!-- Preloader-->

    <div class="preloader">

      <div class="preloader-inner">

        <div class="preloader-item"></div>

        <div class="preloader-item"></div>

        <div class="preloader-item"></div>

        <div class="preloader-item"></div>

        <div class="preloader-item"></div>

        <div class="preloader-item"></div>

        <div class="preloader-item"></div>

        <div class="preloader-item"></div>

        <div class="preloader-item"></div>

      </div>

    </div>

  </body>

</html>
