.form-label {
	margin-bottom: 0.5rem;
}

.col-form-label {
	padding-top: calc(1.0625rem + 1px);
	padding-bottom: calc(1.0625rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.36;
}

.col-form-label-lg {
	padding-top: calc(1.16875rem + 1px);
	padding-bottom: calc(1.16875rem + 1px);
	font-size: 0.9625rem;
}

.col-form-label-sm {
	padding-top: calc(0.95625rem + 1px);
	padding-bottom: calc(0.95625rem + 1px);
	font-size: 0.7875rem;
}

.form-text {
	margin-top: 0.25rem;
	font-size: 81%;
	color: #5d5d66;
}

.form-control {
	display: block;
	width: 100%;
	padding: 12px 13px;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.36;
	color: #000;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(171, 171, 171, 0.5);
	appearance: none;
	border-radius: 0;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.form-control {
		transition: none;
	}
}

.form-control[type="file"] {
	overflow: hidden;
}

.form-control[type="file"]:not(:disabled):not([readonly]) {
	cursor: pointer;
}

.form-control:focus {
	color: #171724;
	background-color: #fff;
	border-color: rgba(171, 171, 171, 0.5);
	outline: 0;
	box-shadow: 0 0 0 1px rgba(171, 171, 171, 0.5);
}

.form-control::-webkit-date-and-time-value {
	height: 1.36em;
}

.form-control::placeholder {
	color: #000;
	opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
	background-color: rgba(250, 250, 250, 0.8);
	opacity: 1;
}

.form-control::file-selector-button {
	padding: 1.0625rem 1.1875rem;
	margin: -1.0625rem -1.1875rem;
	margin-inline-end: 1.1875rem;
	color: #000;
	background-color: #f7f7f7;
	pointer-events: none;
	border-color: inherit;
	border-style: solid;
	border-width: 0;
	border-inline-end-width: 1px;
	border-radius: 0;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.form-control::file-selector-button {
		transition: none;
	}
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
	background-color: #ebebeb;
}

.form-control::-webkit-file-upload-button {
	padding: 1.0625rem 1.1875rem;
	margin: -1.0625rem -1.1875rem;
	margin-inline-end: 1.1875rem;
	color: #000;
	background-color: #f7f7f7;
	pointer-events: none;
	border-color: inherit;
	border-style: solid;
	border-width: 0;
	border-inline-end-width: 1px;
	border-radius: 0;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.form-control::-webkit-file-upload-button {
		transition: none;
	}
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
	background-color: #ebebeb;
}

.form-control-plaintext {
	display: block;
	width: 100%;
	padding: 1.0625rem 0;
	margin-bottom: 0;
	line-height: 1.36;
	color: #000;
	background-color: transparent;
	border: solid transparent;
	border-width: 1px 0;
}

.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
	padding-right: 0;
	padding-left: 0;
}

.form-control-sm {
	min-height: 3.0014rem;
	padding: 0.95625rem 1.06875rem;
	font-size: 0.7875rem;
	border-radius: 0.2rem;
}

.form-control-sm::file-selector-button {
	padding: 0.95625rem 1.06875rem;
	margin: -0.95625rem -1.06875rem;
	margin-inline-end: 1.06875rem;
}

.form-control-sm::-webkit-file-upload-button {
	padding: 0.95625rem 1.06875rem;
	margin: -0.95625rem -1.06875rem;
	margin-inline-end: 1.06875rem;
}

.form-control-lg {
	min-height: 3.7715rem;
	padding: 1.16875rem 1.30625rem;
	font-size: 0.9625rem;
	border-radius: 0.3rem;
}

.form-control-lg::file-selector-button {
	padding: 1.16875rem 1.30625rem;
	margin: -1.16875rem -1.30625rem;
	margin-inline-end: 1.30625rem;
}

.form-control-lg::-webkit-file-upload-button {
	padding: 1.16875rem 1.30625rem;
	margin: -1.16875rem -1.30625rem;
	margin-inline-end: 1.30625rem;
}

textarea.form-control {
	min-height: 2.44rem;
}

textarea.form-control-sm {
	min-height: 2.0014rem;
}

textarea.form-control-lg {
	min-height: 3.7715rem;
}

.form-control-color {
	max-width: 3rem;
	height: auto;
	padding: 1.0625rem;
}

.form-control-color:not(:disabled):not([readonly]) {
	cursor: pointer;
}

.form-control-color::-moz-color-swatch {
	height: 1.36em;
	border-radius: 0;
}

.form-control-color::-webkit-color-swatch {
	height: 1.36em;
	border-radius: 0;
}

.form-select {
	display: block;
	width: 100%;
	padding: 1.0625rem 3.5625rem 1.0625rem 1.1875rem;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.36;
	color: #000;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2323232f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 1.1875rem center;
	background-size: 16px 12px;
	border: 1px solid rgba(171, 171, 171, 0.5);
	border-radius: 0;
	appearance: none;
}

.form-select:focus {
	border-color: rgba(171, 171, 171, 0.5);
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.form-select[multiple], .form-select[size]:not([size="1"]) {
	padding-right: 1.1875rem;
	background-image: none;
}

.form-select:disabled {
	background-color: #f7f7f7;
}

.form-select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

.form-select-sm {
	padding-top: 0.95625rem;
	padding-bottom: 0.95625rem;
	padding-left: 1.06875rem;
	font-size: 0.7875rem;
}

.form-select-lg {
	padding-top: 1.16875rem;
	padding-bottom: 1.16875rem;
	padding-left: 1.30625rem;
	font-size: 0.9625rem;
}

.form-check {
	display: block;
	min-height: 2.375rem;
	padding-left: 1.5em;
	margin-bottom: 0.125rem;
}

.form-check .form-check-input {
	float: left;
	margin-left: -1.5em;
}

.form-check-input {
	width: 1em;
	height: 1em;
	margin-top: 0.45em;
	vertical-align: top;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgba(0, 0, 0, 0.25);
	appearance: none;
	color-adjust: exact;
}

.form-check-input[type="checkbox"] {
	border-radius: 0.25em;
}

.form-check-input[type="radio"] {
	border-radius: 50%;
}

.form-check-input:active {
	filter: brightness(90%);
}

.form-check-input:focus {
	border-color: rgba(171, 171, 171, 0.5);
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.form-check-input:checked {
	background-color: #000;
	border-color: #000;
}

.form-check-input:checked[type="checkbox"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-input:checked[type="radio"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input[type="checkbox"]:indeterminate {
	background-color: #000;
	border-color: #000;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.form-check-input:disabled {
	pointer-events: none;
	filter: none;
	opacity: 0.5;
}

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
	opacity: 0.5;
}

.form-switch {
	padding-left: 2.5em;
}

.form-switch .form-check-input {
	width: 2em;
	margin-left: -2.5em;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
	background-position: left center;
	border-radius: 2em;
	transition: background-position 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.form-switch .form-check-input {
		transition: none;
	}
}

.form-switch .form-check-input:focus {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28171, 171, 171, 0.5%29'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
	background-position: right center;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-inline {
	display: inline-block;
	margin-right: 1rem;
}

.btn-check {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}

.btn-check[disabled] + .btn, .btn-check:disabled + .btn {
	pointer-events: none;
	filter: none;
	opacity: 0.65;
}

.form-range {
	width: 100%;
	height: 1.5rem;
	padding: 0;
	background-color: transparent;
	appearance: none;
}

.form-range:focus {
	outline: 0;
}

.form-range:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 1px rgba(171, 171, 171, 0.5);
}

.form-range:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 1px rgba(171, 171, 171, 0.5);
}

.form-range::-moz-focus-outer {
	border: 0;
}

.form-range::-webkit-slider-thumb {
	width: 1rem;
	height: 1rem;
	margin-top: -0.25rem;
	background-color: #000;
	border: 0;
	border-radius: 1rem;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	appearance: none;
}

@media (prefers-reduced-motion: reduce) {
	.form-range::-webkit-slider-thumb {
		transition: none;
	}
}

.form-range::-webkit-slider-thumb:active {
	background-color: #b3b3b3;
}

.form-range::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.5rem;
	color: transparent;
	cursor: pointer;
	background-color: #e8e8e9;
	border-color: transparent;
	border-radius: 1rem;
}

.form-range::-moz-range-thumb {
	width: 1rem;
	height: 1rem;
	background-color: #000;
	border: 0;
	border-radius: 1rem;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	appearance: none;
}

@media (prefers-reduced-motion: reduce) {
	.form-range::-moz-range-thumb {
		transition: none;
	}
}

.form-range::-moz-range-thumb:active {
	background-color: #b3b3b3;
}

.form-range::-moz-range-track {
	width: 100%;
	height: 0.5rem;
	color: transparent;
	cursor: pointer;
	background-color: #e8e8e9;
	border-color: transparent;
	border-radius: 1rem;
}

.form-range:disabled {
	pointer-events: none;
}

.form-range:disabled::-webkit-slider-thumb {
	background-color: #adb5bd;
}

.form-range:disabled::-moz-range-thumb {
	background-color: #adb5bd;
}

.form-floating {
	position: relative;
}

.form-floating > .form-control,
.form-floating > .form-select {
	height: calc(3.5rem + 2px);
	padding: 1rem 1.1875rem;
}

.form-floating > label {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 1rem 1.1875rem;
	pointer-events: none;
	border: 1px solid transparent;
	transform-origin: 0 0;
	transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.form-floating > label {
		transition: none;
	}
}

.form-floating > .form-control::placeholder {
	color: transparent;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
	padding-top: 1.625rem;
	padding-bottom: 0.625rem;
}

.form-floating > .form-control:-webkit-autofill {
	padding-top: 1.625rem;
	padding-bottom: 0.625rem;
}

.form-floating > .form-select {
	padding-top: 1.625rem;
	padding-bottom: 0.625rem;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
	opacity: 0.65;
	transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-control:-webkit-autofill ~ label {
	opacity: 0.65;
	transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}

.input-group > .form-control,
.input-group > .form-select {
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
}

.input-group > .form-control:focus,
.input-group > .form-select:focus {
	z-index: 3;
}

.input-group .btn {
	position: relative;
	z-index: 2;
}

.input-group .btn:focus {
	z-index: 3;
}

.input-group-text {
	display: flex;
	align-items: center;
	padding: 1.0625rem 1.1875rem;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.36;
	color: #000;
	text-align: center;
	white-space: nowrap;
	background-color: #f7f7f7;
	border: 1px solid rgba(171, 171, 171, 0.5);
	border-radius: 0;
}

.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text,
.input-group-lg > .btn {
	padding: 1.16875rem 1.30625rem;
	font-size: 0.9625rem;
	border-radius: 0.3rem;
}

.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.input-group-sm > .btn {
	padding: 0.95625rem 1.06875rem;
	font-size: 0.7875rem;
	border-radius: 0.2rem;
}

.input-group-lg > .form-select,
.input-group-sm > .form-select {
	padding-right: 4.75rem;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group.has-validation > :nth-last-child(n + 3):not(.dropdown-toggle):not(.dropdown-menu),
.input-group.has-validation > .dropdown-toggle:nth-last-child(n + 4) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	margin-left: -1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.valid-feedback {
	display: none;
	width: 100%;
	margin-top: 0.25rem;
	font-size: 81%;
	color: #77ba21;
}

.valid-tooltip {
	position: absolute;
	top: 100%;
	z-index: 5;
	display: none;
	max-width: 100%;
	padding: 0.25rem 0.5rem;
	margin-top: .1rem;
	font-size: 1rem;
	color: #fff;
	background-color: rgba(119, 186, 33, 0.9);
	border-radius: 0;
}

.was-validated :valid ~ .valid-feedback,
.was-validated :valid ~ .valid-tooltip,
.is-valid ~ .valid-feedback,
.is-valid ~ .valid-tooltip {
	display: block;
}

.was-validated .form-control:valid, .form-control.is-valid {
	border-color: #77ba21;
	padding-right: calc(1.36em + 2.125rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2377ba21' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(0.34em + 0.53125rem) center;
	background-size: calc(0.68em + 1.0625rem) calc(0.68em + 1.0625rem);
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
	border-color: #77ba21;
	box-shadow: 0 0 0 0.25rem rgba(119, 186, 33, 0.25);
}

.was-validated textarea.form-control:valid, textarea.form-control.is-valid {
	padding-right: calc(1.36em + 2.125rem);
	background-position: top calc(0.34em + 0.53125rem) right calc(0.34em + 0.53125rem);
}

.was-validated .form-select:valid, .form-select.is-valid {
	border-color: #77ba21;
}

.was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"], .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"] {
	padding-right: 6.53125rem;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2323232f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2377ba21' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
	background-position: right 1.1875rem center, center right 3.5625rem;
	background-size: 16px 12px, calc(0.68em + 1.0625rem) calc(0.68em + 1.0625rem);
}

.was-validated .form-select:valid:focus, .form-select.is-valid:focus {
	border-color: #77ba21;
	box-shadow: 0 0 0 0.25rem rgba(119, 186, 33, 0.25);
}

.was-validated .form-check-input:valid, .form-check-input.is-valid {
	border-color: #77ba21;
}

.was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked {
	background-color: #77ba21;
}

.was-validated .form-check-input:valid:focus, .form-check-input.is-valid:focus {
	box-shadow: 0 0 0 0.25rem rgba(119, 186, 33, 0.25);
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
	color: #77ba21;
}

.form-check-inline .form-check-input ~ .valid-feedback {
	margin-left: .5em;
}

.was-validated .input-group .form-control:valid, .input-group .form-control.is-valid, .was-validated
.input-group .form-select:valid,
.input-group .form-select.is-valid {
	z-index: 1;
}

.was-validated .input-group .form-control:valid:focus, .input-group .form-control.is-valid:focus, .was-validated
.input-group .form-select:valid:focus,
.input-group .form-select.is-valid:focus {
	z-index: 3;
}

.invalid-feedback {
	display: none;
	width: 100%;
	margin-top: 0.25rem;
	font-size: 81%;
	color: #e72660;
}

.invalid-tooltip {
	position: absolute;
	top: 100%;
	z-index: 5;
	display: none;
	max-width: 100%;
	padding: 0.25rem 0.5rem;
	margin-top: .1rem;
	font-size: 1rem;
	color: #fff;
	background-color: rgba(231, 38, 96, 0.9);
	border-radius: 0;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
	display: block;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
	border-color: #e72660;
	padding-right: calc(1.36em + 2.125rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23e72660'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e72660' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(0.34em + 0.53125rem) center;
	background-size: calc(0.68em + 1.0625rem) calc(0.68em + 1.0625rem);
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
	border-color: #e72660;
	box-shadow: 0 0 0 0.25rem rgba(231, 38, 96, 0.25);
}

.was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
	padding-right: calc(1.36em + 2.125rem);
	background-position: top calc(0.34em + 0.53125rem) right calc(0.34em + 0.53125rem);
}

.was-validated .form-select:invalid, .form-select.is-invalid {
	border-color: #e72660;
}

.was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"], .form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"] {
	padding-right: 6.53125rem;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2323232f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23e72660'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e72660' stroke='none'/%3e%3c/svg%3e");
	background-position: right 1.1875rem center, center right 3.5625rem;
	background-size: 16px 12px, calc(0.68em + 1.0625rem) calc(0.68em + 1.0625rem);
}

.was-validated .form-select:invalid:focus, .form-select.is-invalid:focus {
	border-color: #e72660;
	box-shadow: 0 0 0 0.25rem rgba(231, 38, 96, 0.25);
}

.was-validated .form-check-input:invalid, .form-check-input.is-invalid {
	border-color: #e72660;
}

.was-validated .form-check-input:invalid:checked, .form-check-input.is-invalid:checked {
	background-color: #e72660;
}

.was-validated .form-check-input:invalid:focus, .form-check-input.is-invalid:focus {
	box-shadow: 0 0 0 0.25rem rgba(231, 38, 96, 0.25);
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
	color: #e72660;
}

.form-check-inline .form-check-input ~ .invalid-feedback {
	margin-left: .5em;
}

.was-validated .input-group .form-control:invalid, .input-group .form-control.is-invalid, .was-validated
.input-group .form-select:invalid,
.input-group .form-select.is-invalid {
	z-index: 2;
}

.was-validated .input-group .form-control:invalid:focus, .input-group .form-control.is-invalid:focus, .was-validated
.input-group .form-select:invalid:focus,
.input-group .form-select.is-invalid:focus {
	z-index: 3;
}

label {
	font-size: 1rem;
	cursor: pointer;
}

textarea.form-control {
	min-height: 5.1875rem;
	max-height: 18.75rem;
}

.textarea-1.form-control {
	min-height: 10.9375rem;
	max-height: 12.5rem;
}

.form-group {
	position: relative;
	text-align: left;
	margin-bottom: 0;
}

.form-control {
	text-overflow: ellipsis;
}

.form-control-inline {
	display: inline-block;
	text-align: center;
	width: auto;
}

.form-group + .form-group {
	margin-top: 1.25rem;
}

.input-group > .form-control,
.input-group > .form-control-plaintext,
.input-group > .custom-select,
.input-group > .custom-file {
	height: auto;
}

:invalid {
	box-shadow: none;
}

:-moz-submit-invalid {
	box-shadow: none;
}

:-moz-ui-invalid {
	box-shadow: none;
}

.custom-control {
	padding-left: 0;
}

.custom-control-label {
	padding-left: 2.1875rem;
	font-size: 1.25rem;
}

.custom-control-label::before, .custom-control-label::after {
	left: 0;
}

.custom-checkbox,
.custom-radio {
	padding-top: -0.375rem;
	padding-bottom: -0.375rem;
}

.custom-control-accent .custom-control-input:checked ~ .custom-control-label {
	color: #000;
}

.custom-control + .custom-control {
	margin-top: 0.875rem;
}

.custom-control-description {
	overflow: hidden;
	max-height: 0;
	color: #000;
	transition: .4s;
}

.custom-control-description > span {
	display: inline-block;
	margin-top: 0.5rem;
}

.custom-control-input:checked ~ .custom-control-description {
	max-height: 4.6875rem;
}
/*# sourceMappingURL=input.css.map */
