// About me
section.section.section-md.bg-transparent.text-center
	.container
		.text-block.text-block-1.text-center
			h4.text-uppercase A few words about Me
			p Et lacinia nisi tortor ultricies mollis gravida interdum vitae aenean. Nam faucibus nullam sit egestas. Sem enim ut imperdiet sollicitudin nisl neque. Auctor ultricies at purus nunc enim. Molestie porta amet posuere elementum eu nulla sapien, et.
		.row.row-40
			.col-xs-6.col-xl-3.offset-xl-2
				+img( 'image-06-270x368' )
			.col-xs-6.col-xl-4.offset-xl-1.offset-xxl-2
				+img( 'image-07-370x368' ).image.image-3
