// Services list
section.section.section-md.bg-transparent.text-center.text-md-start
	.container
		.text-block.text-block-1.text-center
			h4.text-uppercase blog
			p Et lacinia nisi tortor ultricies mollis gravida interdum vitae aenean. Nam faucibus nullam sit egestas. Sem enim ut imperdiet sollicitudin nisl neque. Auctor ultricies at purus nunc enim.

		.row.row-30.justify-content-center.justify-content-md-start.align-items-md-center.row-offset
			.col-sm-10.col-md-6.col-lg-5
				.image-responsive
					a.image-hover( href='single-post.html' )
						+img( 'image-17-470x625' ).image
			.col-sm-10.col-md-6.offset-lg-1
				h4.ls01.lh140: a( href='single-post.html' ) Black &white: which equipment to use in such cases
				p Amet dignissim nibh diam facilisis sit ac. Sed enim risus dictum nulla. Amet pellentesque ipsum praesent sed nulla enim nam. Consectetur porta at massa leo commodo ultrices leo quam non.
				ul.list.text-400.xsmall
					li.list-item By Adam Smith
					li.list-item August 30, 2020
				a.btn.btn-outline( href='single-post.html' )
					span Read more
					span.btn-icon.mdi-arrow-right

		.row.row-30.justify-content-center.justify-content-md-start.flex-sm-row-reverse.row-offset
			.col-sm-10.col-md-6.col-lg-5
				.image-responsive
					a.image-hover( href='single-post.html' )
						+img( 'image-18-470x330' ).image
			.col-sm-10.col-md-6.offset-lg-1
				h4.ls01.lh140: a( href='single-post.html' ) Right children photoshoot with simple tips for best photos
				p Amet dignissim nibh diam facilisis sit ac. Sed enim risus dictum nulla. Amet pellentesque ipsum praesent sed nulla enim nam. Consectetur porta at massa leo commodo ultrices leo quam non.
				ul.list.text-400.xsmall
					li.list-item By Adam Smith
					li.list-item August 30, 2020
				a.btn.btn-outline( href='single-post.html' )
					span Read more
					span.btn-icon.mdi-arrow-right

		.row.row-30.justify-content-center.justify-content-md-start.align-items-md-center.row-offset
			.col-sm-10.col-md-6.col-lg-4.offset-lg-1
				.image-responsive
					a.image-hover( href='single-post.html' )
						+img( 'image-19-370x492' ).image
			.col-sm-10.col-md-6.offset-lg-1
				h4.ls01.lh140: a( href='single-post.html' ) How to make right composition in different places
				p Amet dignissim nibh diam facilisis sit ac. Sed enim risus dictum nulla. Amet pellentesque ipsum praesent sed nulla enim nam. Consectetur porta at massa leo commodo ultrices leo quam non.
				ul.list.text-400.xsmall
					li.list-item By Adam Smith
					li.list-item August 30, 2020
				a.btn.btn-outline( href='single-post.html' )
					span Read more
					span.btn-icon.mdi-arrow-right

		.row.row-30.justify-content-center.justify-content-md-end.flex-sm-row-reverse.align-items-md-end.row-offset
			.col-sm-10.col-md-6.col-lg-5
				.image-responsive
					a.image-hover( href='single-post.html' )
						+img( 'image-20-470x575' ).image
			.col-sm-10.col-md-6
				h4.ls01.lh140: a( href='single-post.html' ) Tips about fashion photoshoot
				p Amet dignissim nibh diam facilisis sit ac. Sed enim risus dictum nulla. Amet pellentesque ipsum praesent sed nulla enim nam. Consectetur porta at massa leo commodo ultrices leo quam non.
				ul.list.text-400.xsmall
					li.list-item By Adam Smith
					li.list-item August 30, 2020
				a.btn.btn-outline( href='single-post.html' )
					span Read more
					span.btn-icon.mdi-arrow-right

		include ../pag/_pagination-1