// Call to action
section.section.section-md.bg-transparent
	.container
		.box.box-action.bg-image( style='background-image:url(images/image-05-870x670.jpg)' )
			.box-bg.bg-secondary
			.box-inner
				h5 Book your appointment
				p Get a spectacular photoshoot by booking an appointment today.
				a.btn.btn-outline( href='#' )
					span Book now
					span.btn-icon.mdi-arrow-right