// Campaign monitor
section.section.section-md.bg-transparent
	.container.text-center
		.row.justify-content-center
			.col-md-8.col-lg-7.col-xxl-6
				h4.text-uppercase Campaign Monitor
				p Sign up to our newsletter and be the first to know about the latest news, special offers, events, and discounts.
				form.rd-form.rd-form-inline.campaign-mailform( data-form-output='campaign-monitor-output', action='https://templatermonster.createsend.com/t/j/s/zjjikd/', method='post' )
					.form-group
						input.form-control( type='email', name='email', placeholder='E-mail', data-constraints='@Email @Required' )
					button.btn( type='submit' ) Send Message
				#campaign-monitor-output.form-output.snackbar.snackbar-primary
