// Contact form with recaptcha
section.section.section-md.bg-transparent
	.container.text-center
		.row.justify-content-center
			.col-md-8.col-lg-7
				h4.text-uppercase Contact Form (with reCAPTCHA)
				form.rd-form.rd-mailform( data-form-output='contact-form-with-recaptcha', data-form-type='contact', method='post', action='components/rd-mailform/rd-mailform.php' )
					.row.row-gutters-20.row-20.align-items-center
						.col-md-6
							.form-group
								input.form-control( type='text', name='name', placeholder='Your name', data-constraints='@Required' )
						.col-md-6
							.form-group
								input.form-control( type='email', name='email', placeholder='E-mail', data-constraints='@Email @Required' )
						.col-12
							.form-group
								input.form-control( type='text', name='phone', placeholder='Phone', data-constraints='@Numeric @Required' )
						.col-12
							.form-group
								textarea.form-control( name='textarea', placeholder='Message', data-constraints='@Required' )
						.col-sm-8.col-md-7.col-xl-6
							.form-group.form-validation-left
								//Google captcha
								.recaptcha#captcha1( data-sitekey='6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt', data-auto-size='' )
						.col-sm-4.col-md-5.col-xl-6.text-md-end
							.rd-form-btn
								button.btn( type='submit' ) Send Message
				#contact-form-with-recaptcha.form-output.snackbar.snackbar-primary
