// Features 2
section.section.section-md.bg-transparent.text-center.text-xs-start
	.container
		h4.text-uppercase.text-lg-center Exhibitions
		.row.row-40.row-content
			.col-xs-6.col-lg-5.offset-lg-1
				h5.text-uppercase: a( href='#' ) NEW YORK
				.title-1 Emotional Sense of Photography
				ul.list.text-400.xsmall
					li.list-item The Photographers’ Gallery
					li.list-item May 9 – Aug 20

			.col-xs-6.col-lg-5.offset-lg-1
				h5.text-uppercase: a( href='#' ) MILAN
				.title-1 The Moment in Space
				ul.list.text-400.xsmall
					li.list-item The Photographers’ Gallery
					li.list-item May 9 – Aug 20

			.col-xs-6.col-lg-5.offset-lg-1
				h5.text-uppercase: a( href='#' ) VALENCIA
				.title-1 Modern Photography
				ul.list.text-400.xsmall
					li.list-item The Photographers’ Gallery
					li.list-item May 9 – Aug 20

			.col-xs-6.col-lg-5.offset-lg-1
				h5.text-uppercase: a( href='#' ) BERLIN
				.title-1 The Future is Now
				ul.list.text-400.xsmall
					li.list-item The Photographers’ Gallery
					li.list-item May 9 – Aug 20

			.col-xs-6.col-lg-5.offset-lg-1
				h5.text-uppercase: a( href='#' ) PARIS
				.title-1 The Love You Share
				ul.list.text-400.xsmall
					li.list-item The Photographers’ Gallery
					li.list-item May 9 – Aug 20

			.col-xs-6.col-lg-5.offset-lg-1
				h5.text-uppercase: a( href='#' ) AMSTERDAM
				.title-1 Encounters with the Camera
				ul.list.text-400.xsmall
					li.list-item The Photographers’ Gallery
					li.list-item May 9 – Aug 20