// Features
section.section.section-md.bg-transparent.text-center.text-xs-start
	.container
		.text-block.text-block-1.text-center
			h4.text-uppercase Professional photography services for personal and corporate use
			p Amet, turpis eu cursus feugiat venenatis scelerisque elit sit egestas. Sem vestibulum, ac non netus. Est neque cursus diam ut donec. Tristique sit ipsum quam adipiscing mi sapien, sagittis ac. Ut nunc nullam neque vel.
		.box.box-creative
			.box-creative-bg.bg-secondary
			.row.row-40.justify-content-lg-between
				.col-xs-6.col-sm-7.col-xl-7.position-relative
					.image-responsive.d-lg-flex.justify-content-lg-end
						+img( 'image-09-820x722' ).image.image-true-size

				.col-xs-6.col-sm-5.col-xl-4.position-relative
					.box-creative-content
						ul.list.list-md.h4
							li.list-item: a.link.link-strike( href='gallery.html' ) Faces
							li.list-item: a.link.link-strike( href='gallery.html' ) Fashion
							li.list-item: a.link.link-strike( href='gallery.html' ) Wedding
							li.list-item: a.link.link-strike( href='gallery.html' ) Children
							li.list-item: a.link.link-strike( href='gallery.html' ) Love Story
							li.list-item: a.link.link-strike( href='gallery.html' ) Motion