// Intro
section.section.section-xl.bg-transparent.text-center.text-sm-start
	.container
		.row.justify-content-center
			.col-xxl-10
				.intro( style='background-image:url(images/image-24-770x645.jpg);' )
					h2.intro-title My name is Emma Smith. I’m a professional and highly experienced photographer based in LA.