// List sample
section.section.section-md.bg-transparent
	.container
		h4.text-uppercase Ordered & Unordered Lists
		.row.row-15.row-content-1
			.col-6.col-sm-5.col-md-4.col-lg-3
				ul.list.list-marked.text-dark
					li.list-item Dedication
					li.list-item Knowledge
					li.list-item Experience
					li.list-item Reliability
					li.list-item Flexibility
			.col-6.col-sm-5.col-md-4.col-lg-3
				ol.list.list-ordered.text-dark
					li.list-item Dedication
					li.list-item Knowledge
					li.list-item Experience
					li.list-item Reliability
					li.list-item Flexibility