// Services list 2
section.section.section-md.bg-transparent.text-center.text-sm-start
	.container
		.row.row-40
			.col-sm-6.col-xl-5.offset-xl-1
				.image-responsive
					+img( 'image-10-470x660' ).image
			.col-sm-6.col-xl-5.offset-xl-1
				.offset-custom-1
					h4.ls01.lh140 I have experience shooting all types of professional photos for my clients, including:
					ul.list.list-marked.title-1
						li.list-item: a( href='single-service.html' ) Corporate team photography
						li.list-item: a( href='single-service.html' ) Product photography
						li.list-item: a( href='single-service.html' ) Commercial photography
						li.list-item: a( href='single-service.html' ) Event photography
						li.list-item: a( href='single-service.html' ) Location and architectural photography
						li.list-item: a( href='single-service.html' ) Lifestyle photography
						li.list-item: a( href='single-service.html' ) Food photography
						li.list-item: a( href='single-service.html' ) Social media photography