// Services list
section.section.section-md.bg-transparent.text-center.text-sm-start
	.container
		h4.ls01 My photography services include:
		ul.list.list-marked.title-1
			li.list-item Full-day or half-day photo shoots with all necessary equipment
			li.list-item Professional camera and lens kits
			li.list-item Professional lighting setup
			li.list-item Single-shooter and multi-shooter options
			li.list-item Photo editing, color correction and retouching
			li.list-item Complete photo library access with full usage rights
			li.list-item Photo metadata to SEO best practices
			li.list-item Photo library hosting