// Services list 3
section.section.section-md.bg-transparent.text-center.text-md-start
	.container
		.row.row-40.align-items-center
			.col-md-6.col-xl-5
				.image-responsive
					+img( 'image-11-470x625' ).image
			.col-md-6.col-xl-6.offset-xl-1
					h4.text-uppercase Full-day or half-day photo shoots with all
					p You are able to choose the time that we will spend on photo shoot. If you want full-day, you will get all the possibilities and services to feel convenient during the process.
					ul.list.list-marked.title-1
						li.list-item Convenient conditions in the photo studio
						li.list-item Professional lighting setup
						li.list-item Free photo editing for the full-day
					a.btn.btn-outline( href='contacts.html' )
						span Contact with us
						span.btn-icon.mdi-arrow-right