// Services list 4
section.section.section-md.bg-transparent.text-center.text-sm-start
	.container
		.row.row-40.align-items-center.flex-md-row-reverse
			.col-sm-6.col-xl-5.offset-xl-1
				.image-responsive.image-wpap-1
					+img( 'image-12-470x600' ).image
			.col-sm-6.col-xl-5.offset-xl-1
					h4.text-uppercase Other services
					ul.list.list-marked.title-1
						li.list-item: a.link.link-strike( href='#' ) Corporate team photography
						li.list-item: a.link.link-strike( href='#' ) Product photography
						li.list-item: a.link.link-strike( href='#' ) Commercial photography
						li.list-item: a.link.link-strike( href='#' ) Event photography
						li.list-item: a.link.link-strike( href='#' ) Location and architectural photography
						li.list-item: a.link.link-strike( href='#' ) Lifestyle photography
						li.list-item: a.link.link-strike( href='#' ) Food photography