// Table hover row
section.section.section-md.bg-transparent
	.container
		h4.text-uppercase.text-center Hover row table
		.table-container.table-responsive-xl
			table.table.table-hover
				thead
					tr
						th #
						th First Name
						th Last Name
						th Username
				tbody
					tr
						td 1
						td Benjamin
						td Turner
						td @benjaminturner
					tr
						td 2
						td Lauren
						td Wood
						td @laurenwood
					tr
						td 3
						td Bryan
						td Vargas
						td @benjaminturner
					tr
						td 4
						td Arthur
						td Henderson
						td @benjaminturner

		h4.text-uppercase.text-center Stripped table
		.table-container.table-responsive-xl
			table.table.table-striped
				thead
					tr
						th #
						th First Name
						th Last Name
						th Username
				tbody
					tr
						td 1
						td Benjamin
						td Turner
						td @benjaminturner
					tr
						td 2
						td Lauren
						td Wood
						td @laurenwood
					tr
						td 3
						td Bryan
						td Vargas
						td @benjaminturner
					tr
						td 4
						td Arthur
						td Henderson
						td @benjaminturner

		h4.text-uppercase.text-center Bordered table
		.table-container.table-responsive-xl
			table.table.table-bordered
				thead
					tr
						th #
						th First Name
						th Last Name
						th Username
				tbody
					tr
						td 1
						td Benjamin
						td Turner
						td @benjaminturner
					tr
						td 2
						td Lauren
						td Wood
						td @laurenwood
					tr
						td 3
						td Bryan
						td Vargas
						td @benjaminturner
					tr
						td 4
						td Arthur
						td Henderson
						td @benjaminturner
