// Typography type
section.section.section-md.bg-transparent
	.container
		.row.row-30
			.col-md-7.col-xl-8.col-xxl-7
				.list.list-typography
					.list-item
						h1 Heading 1
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.list-item
						h2 Heading 2
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.list-item
						h3 Heading 3
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.list-item
						h4 Heading 4
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.list-item
						h5 Heading 5
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

			.col-md-5.col-xl-4.col-xxl-5
				.template-info
					.template-info-title Google Fonts
					.template-info-fonts
						.template-info-fonts-base Spartan
					.template-info-title Used Colors
					.template-info-colors
						.template-info-color.template-info-color-primary
						.template-info-color.template-info-color-secondary
						.template-info-color.template-info-color-400